<!DOCTYPE html>
<html lang="en">

  <head>

    <title>
      FOSS Library
    </title>

    <meta charset="UTF-8">
    <meta name="description" content="Open source library management">
    <meta name="keywords" content="FOSS, Open Source, Library">
    <meta name="author" content="Kaustubh Maske Patil">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='build/img/favicon.svg') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='build/main_css.bundle.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='build/main_scss.bundle.css') }}"
    />

  </head>

  <body class="bg-light">

    {% include 'navbar.html' %}

    <div class="container border border-primary" style="background-color: #FBFEF9;">
      {% block content %}
      {% endblock %}
    </div>

    {% block js %}{% endblock %}

    <script src="{{ url_for('static', filename='build/main_js.bundle.js') }}"></script>

  </body>

</html>
