$light: #FDF0D5;
$primary: #A63446;
$secondary: #1D3557;
$secondary-light: #457B9D;
$white-ish: #FBFEF9;

$font-family-base: "Radley";
$text-muted: $secondary-light;

@import "../../node_modules/bootstrap/scss/bootstrap";
