{% extends 'layout.html' %}

{% block content %}

<div class="container my-4">
  <h1 class="text-secondary mb-4 fs-2">Members <i class="fas fa-angle-right fa-xs"></i> Create</h1>

  <div class="container">

    <form method="POST">

      {{ form.csrf_token }}

      <div class="row g-2 mb-3">
        <div class="col-sm-12 col-md-6">
          {{ form.first_name.label(class="form-label") }}
          {{ form.first_name(class="form-control") }}
        </div>

        <div class="col-sm-12 col-md-6">
          {{ form.last_name.label(class="form-label") }}
          {{ form.last_name(class="form-control") }}
        </div>
      </div>

      <div class="mb-3">
        <div class="col-12">
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control") }}
        </div>
      </div>

      <button class="btn btn-primary mb-3" type="submit">
        Submit
      </button>

    </form>

  </div>

</div>
{% endblock %}
